@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {

        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fromAbove {
    0% {
        transform: translateY(-10vh);
        opacity: 0;
    }

    60% {
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

nav>h1 {
    animation-name: fromAbove;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

nav>h2 {
    animation-name: tracking-in-expand;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}


#bus:hover {
    color: #CFA108;
}

#contact>a>img:hover {
    outline: 0.5vw solid blueviolet;
    outline-offset: 0.4vw;
}

#about>h1 {
    animation-name: tracking-in-expand;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-play-state: paused;
}

#about>div>p {
    animation-name: fromAbove;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-play-state: paused;
}

#about>div>img {
    animation-name: fromAbove;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-play-state: paused;
}

#about>a {
    animation-name: fromAbove;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-play-state: paused;
    transition: 0.4s;
}

#about>a:hover {
    transform: translateY(-2vh);
}


#skills>h1 {
    animation-name: tracking-in-expand;
    animation-duration: 0.5s;
    animation-play-state: paused;
    animation-iteration-count: 1;
}


#skills>ul>li>div>h4:hover {

    transform: translateY(-0.5vw);
}


#skills>ul>li {
    animation-name: fromAbove;
    animation-duration: 0.5s;
    animation-play-state: paused;
    animation-iteration-count: 1;
}

@keyframes arrowLoop {
    0% {
        transform: translateX(0vw);
    }

    33% {
        transform: translateX(0.5vw);
    }

    66% {
        transform: translateX(-1.5);
    }

    100% {
        transform: translateX(0vw);
    }
}

#about>a>img {
    animation-name: arrowLoop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

main[data-theme="white"]{
    --bg-color: white;
}

main[data-theme="black"]{
    --bg-color: black;
}

@keyframes changeBack {
    0% {
        color: white;
        transform: translateY(0vw);
    }

    25%{
        outline: 2px solid var(--bg-color);

    }

    100% {
        transform: translateY(-0.5vw);
        background: #CFA108;
        background: linear-gradient(to right, #CFA108 0%, #C270CF 75%);
        outline: 2px solid var(--bg-color);
    }

}

@keyframes changeBackSecond {
    0% {
        transform: translateY(-0.5vw);
        background: #CFA108;
        background: linear-gradient(to right, #CFA108 0%, #C270CF 75%);
    }

    100% {
        color: white;
        transform: translateY(0vw);
    }

}

#projects>div>footer>a:hover {
    transform: translateY(-0.3vw);
}

#projects>div>footer>a:hover img {
    transform: translateY(-0.3vw);
}

#skills>ul>li>div>h4 {
    animation-name: changeBack;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-delay: 0;
    transition: 0.3s;
}

#skills>ul>li>div>h4:hover {
    background: #CFA108;
    background: linear-gradient(to right, #CFA108 0%, #C270CF 75%);
}

#experinceContainer>section{
    animation-name: fromAbove;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-play-state: paused;
}