/* 600 */
@media (max-width: 800px) {
    html{
        overflow-x:hidden;
    }
    nav {
        margin-bottom: 20vw;
    }
    
    ::-webkit-scrollbar {
        display: none;
    }
    nav>h1 {
        font-size: 12vw;
        font-family: "Montserrat";
        margin-top: 10vw;
		text-align:center;
		text-wrap:wrap;
    }

    nav>h2 {
        font-size: 5vw;
		text-align:center;
        text-wrap:wrap;
    }


    #bus {
        font-size: 12vw;
    }

    #stickyHeading{
        display: none;
    }

    #resHeading{
        display: flex;
        justify-content: flex-end;
        position: sticky;
        top: 0;
        background-color: var(--bg-color);
        /* backdrop-filter: blur(10px); */
        
    }
    
    #resHeadBut{
        background-color: transparent;
        border: none;
        height: 5dvw;
        width: 5dvw;
        margin-right: 3dvw;
    }
    

    #resHeadBut>img{
        background-color: transparent;
        border: none;
        height: 5dvw;
        width: 5dvw;
        margin-right: 3dvw;
        filter: var(--lanImg);
    }
    
    #resHeadingCont{
        z-index: 10000;
        width: 100dvw;
        display: flex;
        text-align: center;
        flex-direction: column;
        list-style: none;
        backdrop-filter: blur(100px);
        height: fit-content;
        position:absolute;
        margin: 0;
        padding-top: 5dvw;
        transform: translateY(-150dvw);
    }

    .resAnchor{
        margin-bottom: 10dvw;
        color: white;
        filter:var(--lanImg);
        text-decoration: none;
        font-family: "Montserrat";
        font-weight: 800;
    }

    #langRes{
        width: 100dvw;
        height: 5dvw;
        border: none;
        background-image: url("Lang/lanEs.png");
        background-repeat: no-repeat;
        filter: var(--lanImg);
        background-size: 8%;
        background-position: center center;
        margin-bottom: 5dvw;
    }

    #themeRes{
        width: 100dvw;
        height: 5dvw;
        background-color: black;
        background-image: url("public/iconsSVGS/moon.png");
        background-repeat: no-repeat;
        background-size: 3.5%;
        background-position: center center;
    }

    .resBut{
        width: 100dvw;
        height: 5dvw;
        background-color: transparent;
        border: none;
    }
    

    #contact>a{
		margin-top:10vw;
        width: 10vw;
        height: 10vw;
        padding: 1vw;
    }

    #contact>a>img{
        width: 10vw;
        height: 10vw;
    }

   	#about>a:hover {
	     transform: translateY(0);
	} 


    #about>h1 {
        font-size: 9vw;
		margin-top:2vw;
        margin-bottom: 7vw;

    }


    #about>div {
        height: fit-content;
    }

    #about>div>img {
        height: 40vw;
		margin: 5vw;
    }

    #about>div>p {
 
        font-size: 3vw;

    }

    #about>a {
        padding: 2vw;
        border-radius: 4vw;
        font-size: 3vw;
        width: 40vw;
        height: 3.7vw;
    }

    #about>a>img {
        top: -2.2vw;
        padding-left: 4vw;
        width: 2vw;
        height: 2vw;
    }

    #cert{
        width: 100dvw;
    }

    #cert>h1{
        font-size: 5dvw;
        color: black;
    }
    
    #certCont{
        padding: 3dvw;
        margin: 0;
        width: 95dvw;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-y: hidden;
        height: 40dvw;
        justify-content: flex-start;
    }

    .certEle{
        font-size: 1.4dvw;
        width: 28dvw;
        height: 28dvw;
    }

    #proAndSkiCont {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #projectsText{
        font-size: 8vw;
    }

    #projects {
        width: 96vw;
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
    }

    #projects>h1 {
        font-size: 8vw;
    }

    #projects>div{
        box-shadow:0px 0px 7px 2px rgba(207,161,8, 0.2);
        border-radius: 5vw;
        padding-right: 5vw;
        padding-left: 5vw;
    }
    
    #projects>div>h2 {
        font-size: 5vw;
    }

    #projects>div>span>p {
        width: 50vw;
        font-size: 2.5vw;
        padding-right: 1vw;
        line-height: 3vw;
    }


    #projects>div>span>img {
        width: 30vw;
        height: 18vw;
    }
    
    
    #projects>div>footer>a {
        height: 6vw;
        width: 6vw;
        margin-right: 1vw;
    }
    
    
    #projects>div>footer>a>img {
        border-radius: 1vw;
        height: 6vw;
        width: 6vw;
    }

    #projects>div>footer>a:hover {
        transform: translateY(-0.3vw);
    }

    #projects>div>footer>a:hover img {
        transform: translateY(-0.3vw);
    }

    #skills {
        width: 100vw;
        height: 80dvw;
        margin: 10dvw;
    }
    
    #skills>h1 {
        font-size: 8vw;
    }
    
    
    #skills>ul {
       width: 100dvw;
       display: flex;
       overflow-y: hidden;
       gap:10dvw;
       flex-basis: 100%;
       flex-wrap: nowrap;
       align-items: center;
       justify-content: flex-start;
    }

    #skills>ul>li {
        height: 50dvw;
        max-width: 70dvw;
        aspect-ratio: 1/1;
        flex-basis: 70%;
        border-radius: 3dvw;

    }

    #skills>ul>li>h2 {
        font-size: 3vw;
        padding: 2vw;
        border-radius: 1vw;

    }


    #skills>ul>li>div>h4 {
        font-size: 2vw;
        border-radius: 3.7vw;
        padding: 1.6vw;
        margin: 1vw;
    }

    #experience{
        width: 100dvw;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    
    #experience>h1{
        font-size: 8dvw;
        text-align: center;
    }
    
    #experinceContainer{
        height: 40dvw;
        margin: 0;
        width: 98%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-y: hidden;
        gap: 7dvw;
        justify-content: flex-start;
    }

    #experinceContainer>section {
        
        height: 20dvw;
        width: 20dvw;
        aspect-ratio: 1/1;
    }

    #experinceContainer>section>h3{
        font-size: 4dvw;
    }

    #experinceContainer>section>h2{
        font-size: 3.2dvw;
        transform: translateY(0);
    }
    
    
#mailContact{
    margin-top: 10dvw;
}

#mailContact>h1{
    font-size: 8dvw;
    margin-bottom: 10dvw;
}

#mailContact>form>section>label{
    font-size: 5dvw;
    width: 24dvw;
}

#mailContact>form>section>input{
    font-size: 5dvw;
    width: 50dvw;
    height: 8dvw;
}

#mailContact>form>section>textarea{
    font-size: 5dvw;
    width: 50dvw;
    height: 20dvw;
}

#sendEmail{
    margin-top: 10dvw;
    font-size: 5dvw;
    width: 60dvw;
    border-radius: 20dvw;
    height: 8dvw;
}


}
