/* 600 */
@media (max-width: 1300px) {

    nav {
        margin-bottom: 20vw;
    }

    nav>h1 {
        font-size: 12vw;
        font-family: "Montserrat";
        margin-top: 30vw;
		text-align:center;
		text-wrap:wrap;
    }

    nav>h2 {
        font-size: 5vw;
		text-align:center;
        text-wrap:wrap;
    }

    #bus {
        font-size: 12vw;
    }

    #stickyHeading>ul>li>a {
        font-size: 3vw;
        padding: 1vw;
        margin: 1vw;
        text-wrap: wrap;

    }


    #stickyHeading>ul>li>span {
        width: 7vw;
        height: 2vw;

    }

    #stickyHeading>ul>li>span>input {
        width: 1.8vw;
        height: 1.8vw;
    }


    #contact>a{
		margin-top:10vw;
        width: 10vw;
        height: 10vw;
        padding: 1vw;
    }

    #contact>a>img{
        width: 10vw;
        height: 10vw;
    }

   	#about>a:hover {
	     transform: translateY(0);
	} 


    #about>h1 {
        font-size: 9vw;
		margin-top:2vw;
        margin-bottom: 7vw;

    }


    #about>div {
        height: fit-content;
    }

    #about>div>img {
        height: 40vw;
		margin: 5vw;
    }

    #about>div>p {
 
        font-size: 3vw;

    }

    #about>a {
        padding: 2vw;
        border-radius: 4vw;
        font-size: 3vw;
        width: 40vw;
        height: 3.7vw;
    }

    #about>a>img {
        top: -2.2vw;
        padding-left: 4vw;
        width: 2vw;
        height: 2vw;
    }

    #proAndSkiCont {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #projects {
        width: 90vw;
    }

    #projects>h1 {
        font-size: 8vw;
    }

    #projects>div>h2 {
        font-size: 5vw;
    }

    #projects>div>span>p {
        width: 50vw;
        font-size: 2.5vw;
        padding-right: 1vw;
        line-height: 3vw;
    }


    #projects>div>span>img {
        width: 30vw;
        height: 18vw;
    }


    #projects>div>footer>a {
        height: 6vw;
        width: 6vw;
        margin-right: 1vw;
    }


    #projects>div>footer>a>img {
        height: 6vw;
        width: 6vw;
    }

    #projects>div>footer>a:hover {
        transform: translateY(-0.3vw);
    }

    #projects>div>footer>a:hover img {
        transform: translateY(-0.3vw);
    }

    #skills {
        width: 90vw;
    }
    
    #skills>h1 {
        font-size: 8vw;
    }
    
    
    #skills>ul {
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-basis: 100%;
        width: 90vw;
        display: flex;
        flex-direction: column;
    }

    #skills>ul>li {
        margin: 10vw;
        padding: 3vw;
        border: 0.6vw solid #C270CF;
        border-radius: 3vw;
        max-width: 90vw;
        width: 80%;
        height: 50vw;
        font-family: "Montserrat";
    }

    #skills>ul>li>h2 {
        font-size: 6vw;
        padding: 2vw;
        border: 0.8vw solid #CFA108;
        border-radius: 1vw;

    }


    #skills>ul>li>div>h4 {
        font-size: 4vw;
        border-radius: 3.7vw;
        padding: 1.6vw;
        margin: 1vw;
    }


}
