@font-face {
    font-family: "Montserrat";
    src: url("../public/Fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Montserrat Italic";
    src: url("../public/Fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
}

html{
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: white;
    overflow-x: hidden;
    scroll-snap-type: y proximity;
}

#mainText{
    margin-bottom: 20vw;
}

#stickyHeading{
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 0;
}

#stickyHeading>ul{
    display: flex;
    width: 100%;
    height: 2%;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    backdrop-filter: blur(10px);
}

#stickyHeading>ul>li>a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 0.8vw;
    border-radius: 2vw;
    font-family: "Montserrat";
    padding: 0.4vw;
    margin: 0.2vw;
    
}

#stickyHeading>ul>li{
    list-style: none;
    display: flex;
    align-items: center;
}

#stickyHeading>ul>li>img{
    object-fit:fill;
    width: 2vw;
    height: auto;
}
#stickyHeading>ul>li>span{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1vw;
    border: 0.2vw solid black;
    width: 2.5vw;
    height: 0.7vw;
    border-radius: 1vw;
    background-size:cover;
    transition: 1s;
    background-image: url("Flags/Usa.png");
}

#stickyHeading>ul>li>span>input{
    width: 0.6vw;
    height: 0.6vw;
    border-radius: 50%;
    appearance:none;
    background-color: black;
    display: hidden;
    transition: 0.5s;
    transform: translateX(0vw);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav>h1 {
    font-size: 4vw;
    font-family: "Montserrat";
    font-weight: 900;
    color: black;
    z-index: 100;
    cursor: default;
    padding: 0px;
    margin-top: 15vw;
}

nav>h2 {
    font-size: 2vw;
    font-family: "Montserrat Italic";
    font-weight: 700;
    color: black;
    z-index: 100;
    cursor: default;
}

#bus {
    font-size: 4vw;
    background: #CFA108;
    background: linear-gradient(to right, #CFA108 0%, #C270CF 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 100;
    transition: 0.5s;
    color: black;
}



#circleContainer {
    position: static;
}

#circleContainer>img {
    width: 40vw;
    height: auto;
    position: absolute;
    z-index: 0;

}

#circle1 {

    right: -15vw;
    top: -40vh;
}

#circle2 {
    top: 5vh;
    left: -17vw;
}

#circle3 {

    right: -14vw;
    top: 40vh;
}

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    margin-top: 3vw;
    z-index: 1000;
}

#contact>a{
    width: 5vw;
    height: 5vw;
    padding: 1vw;
}
#contact>a>img{
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    transition: 0.3s;
}




#PortInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#about {
    scroll-snap-align: center;
    width: 80vw;
    height: auto;
    margin-bottom: 20vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#about>h1 {
    font-family: "Montserrat Italic";
    font-size: 6vw;
    font-weight: 900;
    margin: 0;
    margin-bottom: 7vw;
    z-index: 1000;
}


#about>div {
    width: 80vw;
    height: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about>div>img {
    border-radius: 2vw;
    height: 22vw;
    width: auto;

}

#about>div>p {
    height: auto;
    width: 60vw;
    font-family: "Montserrat";
    font-size: 1.4vw;
    justify-self: flex-start;
    align-self: flex-start;
    
}

#about>a {
    padding: 1.6vw;
    text-align: center;
    font-family: "Montserrat Italic";
    color: white;
    border-radius: 2vw;
    font-size: 1.4vw;
    font-weight: 900;
    border: none;
    background-color: grey;
    width: 15vw;
    height: auto;
    align-self: center;
    text-decoration: none;
    background: #CFA108;
    background: linear-gradient(to right, #CFA108 0%, #C270CF 75%);
    transition: 0.7s;
}


#about>a>img{
    position: relative;
    top: -0.6vw;
    rotate: 90deg;
    padding-left: 1vw;
    width: 0.8vw;
    height: 0.8vw;
}

#proAndSkiCont{
    scroll-snap-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

#projects{
    width: 60vw;
}

#projects>h1{
    z-index: 1000;
    text-align: center;
    margin: 0;
    margin-top: 4vw;
    font-family: "Montserrat";
    font-size: 3vw;
    font-weight: 900;
}

#projects>div{
    display: flex;
    flex-direction: column;
    padding: 1vw;
    margin: 4vw;
    border-radius: 1vw;
    border: 0.3vw solid #CFA108;

}

#projects>div>h2{
    font-family: "Montserrat Italic";
    font-size: 1.5vw;
}

#projects>div>span{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#projects>div>span>p{
    font-size: 1vw;
    padding-right: 2vw;
    font-family: "Montserrat";
    line-height: 1.6vw;
}

#projects>div>span>p>a{
    font-weight: 800;
    background: #CFA108;
    background: linear-gradient(to right, #CFA108 0%, #C270CF 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline 0.13vw blueviolet;
}

#projects>div>span>p>label{
    font-weight: 800;
    color: blueviolet;
}

#projects>div>span>img{
    align-self: center;
    border-radius: 1vw;
    width: 20vw;
    height: 10vw;
}

#projects>div>footer{
    padding: 0;
    align-self: flex-start;
    
}

#projects>div>footer>a{
    height: 2vw;
    width: 2vw;
    margin-right: 0.5vw;
}


#projects>div>footer>a>img{
    border-radius: 0.2vw;
    height: 2vw;
    width: 2vw;
    transition: 0.5s;
}

#skills {
    margin-top: 4vw;
    z-index: 1000;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    position: sticky;
}

#skills>h1 {
    margin: 0;
    font-family: "Montserrat";
    font-size: 3vw;
    font-weight: 900;
}

#skills>ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 40vw;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 33%;
}

#skills>ul>li {
    margin: 1vw;
    padding: 1vw;
    border: 0.2vw solid #C270CF;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8vw;
    max-width: 20vw;
    font-family: "Montserrat";
}

#skills>ul>li>h2{
    cursor: default;
    font-size: 0.9vw;
    padding: 0.3vw;
    border: 0.2vw solid #CFA108;
    border-radius: 0.5vw;

}

#skills>ul>li>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
}

#skills>ul>li>div>h4 {
    cursor: default;
    transition: 0.5s;
    font-size: 0.7vw;
    border-radius:0.8vw;
    border: 0.150vw solid black;
    color: white;
    text-align: center;
    padding: 0.4vw;
    background-color: rgb(173, 163, 163);
    /* flex-basis: 4vw; */
    margin: 0.2vw;
}


